@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: silkscreen, arial;
    text-transform: none;

}

.nav-title {
    display: flex;
    font-size: 12px;
    padding-right: 10px;
    margin-left: 10px;
    color: White;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: rgb(12, 10, 10);
}

.nav-links {
    display: flex;
    flex-direction: row;
    width: 80vh;
    justify-content: space-around;
    font-size: 7px;
    color: White;
}

.nav-links a {
    letter-spacing: 3px;
    font-weight: bold
}

.nav-links li {
    list-style: none
}
input {
    font-size: 12px;
    height:15px;
    padding-left: 5px;
    flex: 1;
    margin: 5px; 
    border-radius: 5px;
    box-shadow: inset 1px 2px 2px rgba(102, 63, 63, 0.05);
    width: 0;
    border: none;
    outline: none;
    color: rgb(31, 28, 28);
}

.burger {
    display: none;
    cursor: pointer
}

.burger div {
    background-color: white;
    width: 18px;
    height: 2px;
    margin: 4px;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.burger div:hover {
    background-color: rgb(28, 47, 109)
}

@media  (max-width:1024px) {
    .nav-links {
        width: 60%
    }
}

@media screen and (max-width:460px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        display: flex;
        position: absolute;
        top: 8vh;
        width: 50%;
        right: 0px;
        flex-direction: column;
        align-items: center;
        height: 92vh;
        background-color: rgb(22, 17, 17);
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        margin-left: 40px;
        margin-right: 40px
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
   from {
    opacity: 0;
    transform: translateX(50x);
   }
   to {
    opacity: 1;
    transform: translateX(0px)
   } 
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-2px, 7px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-1px, -7px);
}

a {
    color: rgb(114, 103, 214)
}
a:hover {
    opacity: 0.90;
}

a:active {
    opacity: 0.80
}