{% extends 'movie/base.html' %}

{% block body%}
<div class="homeslider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img>
                <div class="caption">
                    <div class="captionside">
                        <h3>The Office</h3>
                        <p>Hello World</p>
                        <button>Play</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}